.row{
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    padding: 20px;
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}