.gradient-custom-2 {
    background: #f5e3ab;
}

.cajaPrincipal{
    align-items: center; 
}

.blackBanner{
    color: #ffffff;
    background-color: #112f45;
    height:200px;
}

.cajaNombre{
    width:150px;
}

.fotoPerfil{
    width:150px;
    z-index: 1;
}

.nombre{
    margin-top: 130px;
}

.backgroundUno{
    background-color:#ffffff;
}

.backgroundDos{
    background-color: #ffffff;
    text-align: center;
}