<div class="row">
  <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100 cajaPrincipal" >
          <div class="col col-lg-9 col-xl-7">
            <div class="card">
              <div class="rounded-top d-flex flex-row blackBanner">
                <div class="ms-4 mt-5 d-flex flex-column cajaNombre">
                  <div class="col-lg-2">
                    <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/editacercade/1" *ngIf="isLogged">
                        Editar
                    </button>
                </div>
                  <img src={{persona.img}}
                    alt="Foto de Perfil" class="img-fluid img-thumbnail mt-4 mb-2 fotoPerfil">
                </div>
                <div class="ms-3 nombre">
                  <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
                  <p>Full Stack Developer Jr.</p>
                </div>
              </div>
              <div class="p-4 text-black backgroundUno">
              </div>
              <div class="card-body p-4 text-black">
                <div class="mb-5">                
                  <div class="p-4 backgroundDos">
                    <br>
                    <p>{{persona.descripcion}}</p>                    
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>    