<div class="row">
  <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100 cajaPrincipal" >
          <div class="col col-lg-9 col-xl-7">
            <div class="card">
              <div class="rounded-top d-flex flex-row blackBanner">
                <div class="ms-4 mt-5 d-flex flex-column cajaNombre">
                  <img src="../../../assets/perfil.jpg"
                    alt="Foto de Perfil" class="img-fluid img-thumbnail mt-4 mb-2 fotoPerfil">
                </div>
                <div class="ms-3 nombre">
                  <h5>Patricio Frascaroli</h5>
                  <p>Full Stack Developer Jr.</p>
                </div>
              </div>
              <div class="p-4 text-black backgroundUno">
              </div>
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-1">Sobre mí</p>
                  <div class="p-4 backgroundDos">
                    <p class="font-italic mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati fugit nam.</p>
                    <p class="font-italic mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati fugit nam.</p>
                    <p class="font-italic mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati fugit nam.</p>
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>    