<div class="row">
    <h1 id="titulo">Experiencia Laboral</h1>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Trabajo 1 - (years)">
          <ng-template ngbPanelContent>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit!</p>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle><span>Trabajo 2 - (years)</span></ng-template>
          <ng-template ngbPanelContent>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit!
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
</div>    