.contenedor{
    padding: 20px;
    background: #f5e3ab;
}
.titulo{
    display: inline;
    text-align: center;
    padding-bottom: 1em;
}
    
.tabla{
    vertical-align: middle;
    text-align: center;
}