.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.redes{
    align-items:center;
}

#logoAp{
    width:150px;
}

img{
    width: 50px;
    margin-inline:0.1em;
}

.btn{
    border-width: medium;
}
