<div class="row">
    <div class="container">
        <div clase="logo">
            <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAp">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/linkedin.png" alt="logo Linkedin"></a>
            <a href=""><img src="../../../assets/github.png" alt="logo GitHub"></a>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div> 