  <div class="row">
    <h1 id="titulo">Educación</h1>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Cursos">
          <ng-template ngbPanelContent>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit!
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle><span>Estudios Primarios/Secundarios</span></ng-template>
          <ng-template ngbPanelContent>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit!
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
</div>    

