.row{
    background-color: #FFFFFF;
}

footer{
    color:#112f45;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow:2px -2px 5px #999;
    padding: 1em;
}