.row{
    background:#112f45;
}

#titulo{
    text-align: center;
    margin-top: 2em;
    color:#FFFFFF;
}

.contenedor{
    width:auto;
    margin-top:2em;
    margin-bottom: 3.5em;
    text-align:1em;
    text-align: center;
    color:#FFFFFF;
}

.parte1, .parte2{
    display: inline-block;
}

.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}