.contenedor{
    background:#112f45;
    padding-bottom: 3em;
}

#titulo{
    text-align: center;
    margin-top: 1em;
    color:#FFFFFF;
}

.caja{
    display: contents;
    width:auto;
    margin-top:2em;
    margin-bottom: 3.5em;
    text-align:1em;
    text-align: center;
    color:#FFFFFF;
}

.parte1{
    margin-top: 8em;
}

.parte2{
    margin-top: 2em;
}

.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}

@media screen and (max-width:600px) {
    .parte1{
        margin-top:3em;
    }
}